
.cocos-project.json

# mac
.DS_store

# vi backup file
**/*.swp

CMakeLists.txt

# build directory
bin/
cocos2d/
proj.android/
proj.ios_mac/
proj.linux/
proj.win32/

XVim2

# visual studio code
.vscode/

# node.js
node_modules/
package-lock.json

# develop file
Classes/Network/local.setting
