<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Smoke &amp;amp; Fire-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{16,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{32,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{48,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{64,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{80,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{96,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Smoke &amp;amp; Fire-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{112,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Smoke.png</string>
            <key>size</key>
            <string>{128,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335351b4bc6cb4d86c2ce873a0690d69:3dbe92127b7248c5e299f4d37513aa40:8019d581167556a34f1707b716b54d6c$</string>
            <key>textureFileName</key>
            <string>Smoke.png</string>
        </dict>
    </dict>
</plist>
